<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>신규 유저 가입</title>
</head>
<body>
<h2>로그인</h2>
<form th:action="@{/login}" method="post">
	<input type="text" name="userid" placeholder="아이디" value = ""/>
    <input type="text" name="username" placeholder="유저명" value = ""/>
    <input type="text" name="userpassword" placeholder="비밀번호" value = ""/>
	<input type="text" name="useremail" placeholder="이메일" value = ""/>
	<input type="text" name="userphonenum" placeholder="전화번호" value = ""/>
    <button type="submit">로그인</button>
</form>

<!-- 로그인 실패 시 메시지 출력 -->
<div th:if="${param.error}">
    <p style="color:red;">아이디 또는 비밀번호가 올바르지 않습니다.</p>
</div>

<!-- 로그아웃 성공 시 메시지 출력 -->
<div th:if="${param.logout}">
    <p style="color:green;">로그아웃 되었습니다.</p>
</div>
</body>
</html>